.git
.gitignore
.env
.venv
venv/
ENV/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
db.sqlite3
.DS_Store
.idea/
.vscode/
*.log
*.pot
*.pyc
local_settings.py